<section id="domande" class="domande" role="main">
    <div class="domande-container">
      <div class="domande-element" style="margin-left: 16%">
        <h1 class="domande-title">CONTATTI</h1>
        <p class="domande-subtitle">Contattaci o chiamaci per avere maggiori informazioni</p>
        <p class="domande-text">muaythai360sansalvo@gmail.it<br>
          +393460161427 | 3209799635  | 3395067102</p>
          <a href="https://www.facebook.com/Muaythai360TeamPiacente"><img src={{facebookLogo}} style="width: 50px"></a>
          <a href="https://www.instagram.com/muaythai360sansalvo/"><img src={{igLogo}} style="width: 36px;position: relative;bottom: 6px;padding-left: 10px;"></a>
      </div>
      <div class="domande-element domande-logo" [ngStyle]="{'background-image': 'url(' + logo +')'}" style="background-position: center center;background-repeat: no-repeat;background-attachment: inherit;background-size: 26%;padding-left: 11%;">
  
        <!-- <input class="domande-input-1" type="text" placeholder="Nome" id="fname" name="fname">
        <input class="domande-input-1" type="text" placeholder="Email" id="fname" name="fname">
        <input class="domande-input-1" type="text" placeholder="Oggetto" id="fname" name="fname">
        <input class="domande-input-2" type="text" placeholder="Messaggio" id="fname" name="fname">
        <button class="domande-submit" ><b>Submit</b></button>
  
        <div></div>
        <div></div> -->
  
      </div>
    </div>
  </section>