<section id="corsi" class="corsi" role="main">
    <div class="video-opacity"> </div>
    <video autoplay muted loop playsinline id="myVideo" class="video-corsi" oncanplay="this.play()" onloadedmetadata="this.muted = true">
      <source src="{{boxe}}" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
  
    <div class="corsi-text-container">
      <h1 class="corsi-title">I NOSTRI CORSI</h1>
      <p class="corsi-subtitle">I corsi che proponiamo presso la nostra palestra ti permetteranno di raggiungere un benessere fisico e mentale. Grazie ai nostri allenamenti potrai migliorare la forza fisica, l'equilibrio, la coordinazione e l'armonia nei movimenti. Potrai, inoltre, ottenere una muscolatura più tonica ed elastica.</p>
      <table class="corsi-table">
        <tr>
          <a *ngIf="getBrowser()" class="corso-link" mat-raised-button id="logout-button" (click)="openModal('MUAYTHAISPORTIVA')">
            <td class="corso-td">
              MUAY THAI SPORTIVA
            </td>
          </a> 
          <a *ngIf="getMobile()" class="corso-link" [routerLink]="['/corsi']" [queryParams]="{titolo: 'MUAYTHAISPORTIVA'}">
              <td class="corso-td">
                MUAY THAI SPORTIVA
              </td>
            </a> 
          <td></td>
          <a class="corso-link" [routerLink]="['/corsi']" [queryParams]="{titolo: '-MUAY BORAN'}">
            <td class="corso-td">
              MUAY BORAN
            </td>
          </a>
          <td></td>
          <a class="corso-link" [routerLink]="['/corsi']" [queryParams]="{titolo: 'MUAYTHAIBAMBINI'}">
            <td class="corso-td">
              MUAY THAI BAMBINI
            </td>
          </a>
        </tr>
        <tr>
          <td></td>
          <a class="corso-link" [routerLink]="['/corsi']" [queryParams]="{titolo: 'PERSONALTRAINING'}">
            <td class="corso-td" style="padding-top: 8vw;">
              PERSONAL TRAINING
            </td>
          </a>
          <td></td>
          <a class="corso-link" [routerLink]="['/corsi']" [queryParams]="{titolo: 'MUAYLERTRIT'}">
            <td class="corso-td" style="padding-top: 8vw;">
              MUAY LERT RIT
            </td>
          </a>
          <td></td>
        </tr>
      </table>
    </div>
  
  </section>