<section id="corsi" class="corsi" role="main">
    <div class="video-opacity"> </div>
    <video autoplay muted loop id="myVideo" class="video-corsi">
      <source src="{{boxe}}" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
  
    <div class="corsi-text-container">
      <h1 class="corsi-title">I NOSTRI CORSI</h1>
      <p class="corsi-subtitle">I corsi che proponiamo presso la nostra palestra ti permetteranno di raggiungere un benessere fisico e mentale. Grazie ai nostri allenamenti potrai migliorare la forza fisica, l'equilibrio, la coordinazione e l'armonia nei movimenti. Potrai, inoltre, ottenere una muscolatura più tonica ed elastica.</p>
      <table class="corsi-table">
        <tr>
          <td style="border-bottom: 1px solid">SPORT DA COMBATTIMENTO</td>
          <td></td>
          <td style="border-bottom: 1px solid">DIFESA PERSONALE</td>
          <td></td>
          <td style="border-bottom: 1px solid">PERSONAL TRAINING</td>
        </tr>
        <tr>
          <td></td>
          <td style="border-bottom: 1px solid; padding-top:100px">ARTI MARZIALI</td>
          <td></td>
          <td style="border-bottom: 1px solid; padding-top:100px">ALLENAMENTO FUNZIONALE</td>
          <td></td>
        </tr>
      </table>
    </div>
  
  </section>