<section id="about" class="about" role="main">
    <div class="center-about">
      <div class="title-about"><span style="color: var(--gold);">LA NOSTRA</span><br><span style="color: white">STORIA</span></div>
      <div class="container-about"> 
        <p class="p-about"><b><span style="color: var(--gold)">TEAM PIACENTE</span></b><br><br>
          Il Team è nato a San Salvo (CH)  ufficialmente nel <span style="color: var(--gold)"><b>1996</b></span>, fondato  dal maestro Vincenzo Piacente.<br>
          E' stato premiato come <b>miglior Team Nazionale nell’anno 1999</b>.<br>
          Numerosi i successi ottenuti negli annii dai vari atleti a livello nazionale<br>
          Vanta successi sia su competizioni dilettantistiche che <span style="color: var(--gold)">PRO</span>.<br><br>
          Nel <span style="color: var(--gold)">2019</span>  il maestro Piacente passa le redini al suo allievo direttissimo Marco Catalano che con la nuova gestione rinomina la nuova sede con il nome di:<br>
          <span style="color: var(--gold)"><b>-Muay Thai 360-</b></span><br><br>
          <span style="color: var(--gold)"><b>Muay thai 360 perchè?</b></span><br>
          Per dare una conoscenza a 360 gradi, dell’arte millenaria thailandese tra le sue mille sfaccettature ed applicazioni sportive tradizionali e militari.<br><br>
          Nella nostra palestra è possibile praticare vari sport da combattimento e arti marziali. <span style="color: var(--gold)">I corsi sono accessibili a tutti </span>poiché le attività vengono suddivise in modo specifico, a seconda che siano donne o bambini, principianti o agonisti, oppure persone già allenate. Effettuiamo, inoltre, lezioni private e allenamenti liberi.</p>
          <img class="img-about" src={{about}}>
      </div>
    </div>
  </section>