<section id="galleria" class="galleria" role="main">
    <div class="galleria-div">
    <table class="galleria-table" cellspacing=0 cellpadding=0>
      <tr>
        <td class="galleria-td">
          <div class="galleria-element" [ngStyle]="{'background-image': 'url(' + gallery1 + ')'}" style="background-position: center center;background-repeat: no-repeat;background-attachment: inherit;background-size: cover;"></div>
        </td>
        <td class="galleria-td">
          <div class="galleria-td-container">
            <div class="galleria-td-element" [ngStyle]="{'background-image': 'url(' + gallery2 + ')'}" style="background-position: center center;background-repeat: no-repeat;background-attachment: inherit;background-size: cover;"></div>
            <div class="galleria-td-element" [ngStyle]="{'background-image': 'url(' + gallery3 + ')'}" style="background-position: center center;background-repeat: no-repeat;background-attachment: inherit;background-size: cover;"></div>
          </div>
          <div class="galleria-td-container">
            <div class="galleria-td-element" [ngStyle]="{'background-image': 'url(' + gallery4 + ')'}" style="background-position: center center;background-repeat: no-repeat;background-attachment: inherit;background-size: cover;"></div>
            <div class="galleria-td-element" [ngStyle]="{'background-image': 'url(' + gallery5 + ')'}" style="background-position: center center;background-repeat: no-repeat;background-attachment: inherit;background-size: cover;"></div>
          </div>
        </td>
        <td class="galleria-td">
          <div class="galleria-element" [ngStyle]="{'background-image': 'url(' + gallery6 + ')'}" style="background-position: center center;background-repeat: no-repeat;background-attachment: inherit;background-size: cover;"></div>
        </td>
        <td class="galleria-td">
          <div class="galleria-td-container">
            <div class="galleria-td-element" [ngStyle]="{'background-image': 'url(' + gallery7 + ')'}" style="background-position: center center;background-repeat: no-repeat;background-attachment: inherit;background-size: cover;"></div>
            <div class="galleria-td-element" [ngStyle]="{'background-image': 'url(' + gallery8+ ')'}" style="background-position: center center;background-repeat: no-repeat;background-attachment: inherit;background-size: cover;"></div>
          </div>
          <div class="galleria-td-container">
            <div class="galleria-td-element" [ngStyle]="{'background-image': 'url(' + gallery9 + ')'}" style="background-position: center center;background-repeat: no-repeat;background-attachment: inherit;background-size: cover;"></div>
            <div class="galleria-td-element" [ngStyle]="{'background-image': 'url(' + gallery10 + ')'}" style="background-position: center center;background-repeat: no-repeat;background-attachment: inherit;background-size: cover;"></div>
          </div>
        </td>
        <td class="galleria-td">
          <div class="galleria-element" [ngStyle]="{'background-image': 'url(' + gallery11 + ')'}" style="background-position: center center;background-repeat: no-repeat;background-attachment: inherit;background-size: cover;"></div>
        </td>    
      </tr>
    </table>
    </div>
  </section>