.events-title{
    color: white;
    position: relative;
    top: 300px;
    width: fit-content;
    font-size: 75px;
    margin: auto;
    letter-spacing: 20px;
    text-align: center;
}

.event-style{
    margin-bottom: 100px;
    position: relative;
    top: 500px;
}