<!-- <div *ngIf="getBrowser()" class="toolbar" role="banner">
    <img width="100" alt="MuayThai360 Logo" src="{{logo}}"/>
    <div class="navigation-header">
      <ul class="navigation-ul">
        <li class="navigation-li"><a href="#">HOME</a></li>
        <li class="navigation-li"><a href="#about">CHI SIAMO</a></li>
        <li class="navigation-li"><a href="#corsi">CORSI</a></li>
        <li class="navigation-li"><a href="#team">ISTRUTTORI</a></li>
        <li class="navigation-li"><a routerLink="/events" routerLinkActive="active">EVENTI</a></li>
      </ul>
    </div>
</div> -->

<div  class="toolbarMobile" role="banner">
    <img width="100" alt="MuayThai360 Logo" src="{{logo}}"/>
    <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
            <li class="navigation-li"><a href="#">HOME</a></li>
            <li class="navigation-li"><a href="#about">CHI SIAMO</a></li>
            <li class="navigation-li"><a href="#corsi">CORSI</a></li>
            <li class="navigation-li"><a href="#team">ISTRUTTORI</a></li>
            <li class="navigation-li"><a routerLink="/events" routerLinkActive="active">EVENTI</a></li>
        </ul>
    </div>
</div>
