<app-toolbar></app-toolbar>

<section>
    <div class="gold-block-cont">
        <div class="gold-block"></div>
    </div>
    <div class="container">
        <div style="display: flex; padding-top: 60px;">
            <div class="title">{{title}}</div>
            <img class="img-corso" src={{gallery11}}>
        </div>
        <div>
            <div class="body">
                La muay boran è un’arte marziale thailandese ed è il diretto progenitore della muay thai. Se la muay thai è conosciuta come l’arte delle otto armi (ovvero gambe, ginocchia, pugni e gomiti), la muay boran aggiunge a queste anche la testa oltre ad un grande numero di movimenti di controllo, intrappolamento e proiezione a terra.
                Nello studio della muay boran, il praticante, pur crescendo atleticamente in un contesto in cui il termine ‘rispetto’ è alla base di ogni sessione di allenamento, parte dal presupposto di doversi attrezzare per far fronte ad un vero nemico, schierato contro di lui sul campo di battaglia, e perciò, non meritevole di alcun trattamento ‘sportivo’. La conseguenza di ciò è che le tecniche e l’approccio stesso della muay boran sono tarate per uno scontro senza quartiere e non proprio per una pratica ludico-agonistica.
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>
