<section id="bo" class="bo" role="main">
    <table class="bo-table" cellspacing=0 cellpadding=0>
      <tr>
        <td class="bo-td" [ngStyle]="{'background-image': 'url(' + box1 + ')'}" style="background-position: center center;background-repeat: no-repeat;background-attachment: inherit;background-size: cover;">
          <div class="bo-div">
            <p class="bo-p">img1</p>
          </div>
        </td>
        <td class="bo-td" [ngStyle]="{'background-image': 'url(' + box2 + ')'}" style="background-position: center center;background-repeat: no-repeat;background-attachment: inherit;background-size: cover;">
          <div class="bo-div">
            <p class="bo-p">img2</p>
          </div>
        </td>
        <td class="bo-td" [ngStyle]="{'background-image': 'url(' + box3 + ')'}" style="background-position: center center;background-repeat: no-repeat;background-attachment: inherit;background-size: cover;">
          <div class="bo-div">
            <p class="bo-p">img3</p>
          </div>
        </td>
      </tr>
      <tr>
        <td class="bo-td" [ngStyle]="{'background-image': 'url(' + box4 + ')'}" style="background-position: center center;background-repeat: no-repeat;background-attachment: inherit;background-size: cover;">
          <div class="bo-div">
            <p class="bo-p">img4</p>
          </div>
        </td>
        <td class="bo-td" [ngStyle]="{'background-image': 'url(' + box5 + ')'}" style="background-position: center center;background-repeat: no-repeat;background-attachment: inherit;background-size: cover;">
          <div class="bo-div">
            <p class="bo-p">img5</p>
          </div>
        </td>
        <td class="bo-td" [ngStyle]="{'background-image': 'url(' + box6 + ')'}" style="background-position: center center;background-repeat: no-repeat;background-attachment: inherit;background-size: cover;">
          <div class="bo-div">
            <p class="bo-p">img6</p>
          </div>
        </td>
      </tr>
    </table>
  
    <div class="bo-lezioni">
        INIZIA LE TUE LEZIONI DA OGGI
    </div>
  </section>