<section id="location" class="location" role="main">
    <div>
      <div class="location-fixed" [ngStyle]="{'background-image': 'url(' + guantoni + ')'}">
          <h1 class="location-title">DOVE TROVARCI</h1>
          <p class="location-subtitle">INDIRIZZO</p>
          <p class="location-text">Centro Sportivo Selva, Contrada Vallone della Selva, Cupello, 66051 Cupello CH San Salvo, 66050 <br>
            (zona kartodromo)</p>
          <p class="location-subtitle">ORARI</p>
          <p class="location-text">LUNEDÌ- SABATO</p>
          <p class="location-text" style="padding-bottom: 60px;">6:30AM - 7:00PM</p>
      </div>
  </div>
  </section>
  