.location{
    position: relative;
    top: 350px;
    left: 0;
    right: 0;
    height: 700px;
}

.location-fixed {
    min-height: 700px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

.location-title{
    line-height: 1.2em;
    text-align: center;
    font-size: 88px;
    letter-spacing: 0.25em;
    color: white;
    padding-top: 70px;
    text-shadow: 2px 2px grey;
}

.location-subtitle{
    line-height: normal;
    text-align: center;
    font-size: 32px;
    letter-spacing: 0.4em;   
    color: white;
    padding-top: 30px;
    text-shadow: 2px 2px grey;
}

.location-text{
    font-size: 26px;
    line-height: 1.5em;
    text-align: center;
    letter-spacing: normal;
    color: white;
    padding-top: 10px;
    text-shadow: 2px 2px grey;
}
