<section id="team" class="team" role="main">
    <div class="team-container">
      <div class="team-element" [ngStyle]="{'background-image': 'url(' + team + ')'}"  style="background-image: url(assets/img/gallery1.jpg);background-repeat: no-repeat;background-size: cover;">
          <div class="team-title">IL TEAM</div>
          <div class="team-text">
            <b>ISTRUTTORI:</b><br><br>
            <b>Vincenzo Piacente</b><br>
            (12° khan Instructor IMBA)<br><br>
             <b>Marco Catalano</b><br>
            (11°khan Trainer Instructor  scuola Oltrecorpo di Fabio Siciliani,3 titoli italiani dilettanti Kombat league, 1 titolo italiano PRO Fight 1) Tecnico Federkombat .<br><br>
            <b>Michele Zizzari</b><br>
            (11° khan advance Trainer Instructor IMBA)<br><br>
             <b>Felice Nozzi</b><br>
            (11° khan advance Trainer Instructor IMBA)</div>
      </div>
      <div class="team-element" style="background-color: var(--gold)">
        <div class="team-text2">Il nostro staff ha una preparazione approfondita di tutte le discipline che insegniamo nella nostra palestra. Il team è formato da professionisti che ti affiancheranno durante il tuo allenamento o il tuo percorso di preparazione atletica.
        </div>
      </div>
    </div>
  </section>